<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techzilla.odak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Odak">
        <activity
            android:name=".currencydetail.viewcontroller.CurrencyDetailActivity"
            android:exported="true" />
        <activity
            android:name=".main.viewcontrollers.MainActivity"
            android:exported="true" />
        <activity
            android:name=".auth.viewcontroller.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".splash.viewcontroller.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>