<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techzilla.odak">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:logo="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Odak"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".auth.viewcontroller.SingActivity"
            android:exported="false" />
        <activity
            android:name=".profile.viewcontroller.ChangeMemberDTOActivity"
            android:exported="false" />
        <activity
            android:name=".converter.viewcontrollers.ConverterActivity"
            android:exported="true" />
        <activity
            android:name=".alarm.viewcontroller.AlarmDetailActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".alarm.viewcontroller.AddAlarmActivity"
            android:exported="true" />
        <activity
            android:name=".currencydetail.viewcontroller.CurrencyDetailActivity"
            android:exported="true" />
        <activity
            android:name=".main.viewcontrollers.MainActivity"
            android:exported="true" />
        <activity
            android:name=".auth.viewcontroller.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".splash.viewcontroller.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>